[submodule "catkin_devel/src/ros_biomech"]
	path = catkin_devel/src/ros_biomech
	url = https://github.com/opensimrt-ros/ros-biomech.git
	branch = devel-all
[submodule "Data/refdata"]
	path = Data/refdata
	url = https://github.com/opensimrt-ros/refdata.git
[submodule "catkin_devel/src/tmux_launch"]
	path = catkin_devel/src/tmux_launch
	url = https://github.com/frederico-klein/tmux_launch.git
[submodule "opensim_docker"]
	path = opensim_docker
	url = git@github.com:opensimrt-ros/opensim_docker.git
