/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @file        : {{FILE}}.cpp
 * @date        : {{TIMESTAMP}}
 */

#include "{{FILE}}.h"

{{CLASS}}::{{CLASS}}()
{
    {{CURSOR}}
}

{{CLASS}}::~{{CLASS}}()
{
}

